.content_ab{
	padding-top: 100px;
	color: white;	
	background-image: radial-gradient(#011f5f,#020228);
	width: 100%;
	height: 500px;
}

.content_ab h1{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	padding: 150px 200px 0px 200px;
}

.cards_contain{
	margin: 100px 150px 0px 130px;
	color: #011f5f;
}

.cards_contain h5{
	font-weight: bold;
}
.news{
	margin: 50px 150px 30px 150px;
	color: #011f5f;
}
.news h5{
	font-weight: bold;
}